/* Navigation */

.nav{
  margin-left: 291px;
  max-width: 782px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btnNav{
  background-color: #1976D2;
  color: #fff;
  font: 700 24px "Outfit", sans-serif;
  width: 13rem;
  height: 8rem;
  margin-top: 3.125rem;
  border-radius: 1.25rem;
  transition: ease-in 0.2s;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
}

.btnNav:hover{
  cursor: pointer;
  filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.5));
}

/* Main */
